.carousel-inner img {
      height: 500px;       /* Cambia este valor según lo que quieras */
      object-fit: cover;   /* Recorta para mantener proporción */
    }
nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

nav a {
  font-size: 25px;
  text-decoration: none;
  color: #2e7d32;
  font-weight: bold;
  transition: color 0.3s;
}

nav a.active,
nav a:hover {
  color: #2e7d32;
}
